.project-hospital-backgrounds{
    margin-top: 100px;
}
.projects-hospital-content{
    display: flex;
    margin: 0 60px;
    flex-direction: column;
    gap: 50px;
}

.main-background {
    width: 100%;
    height: 740px;
    margin-top: 10px;
    object-fit: cover;
}

.country-hotels-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 60px;
}
.country-hotels{
    position: relative;
    display: grid;
    grid-template-columns: 220px 1.5fr 1fr;
    gap: 20px;
}
.hospital-btn{
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 50px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.121);
    width: 130px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    transition: all ease 0.5s;
    color: black;
}

.hospital-btn:hover{
    background-color: rgba(0, 0, 0, 0.101);
    transform: scale(1.1);
}

.content-info{
    margin-left: 10%;
}

.content-country p{
    font-weight: 500;
}