@media (max-width: 1400px) {

    .location-img img {
        width: 280px;
    }
}

@media (max-width: 1024px) {
    .location-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location-img img {
        width: 340px;
    }
    .location-img img:hover {
        box-shadow: 10px 10px 42px -19px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 42px -19px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 42px -19px rgba(0,0,0,0.75);
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {

    .location-img {
        display: flex;
        flex-direction: column;
    }

    .madrid-link {
        margin-left: 0px;
        margin-top: 10px;
    }
}