.header-name,
.header-title,
.header-about {
    padding: 0 60px;
}

.header-name {
    font-size: 36px;
    margin-top: 8px;
}
.header-backgrounds{
    position: relative;
}

.header-btn{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    right: 60px;
    bottom: 60px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.121);
    width: 130px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    transition: all ease 0.5s;
    color: black;
    animation: scaleBtn 1.5s forwards;
    animation-delay: 1s;
}

.header-btn:hover{
    background-color: rgba(0, 0, 0, 0.101);
    transform: scale(1.1);
}

.header-background {
    width: 100%;
    height: 680px;
    margin-top: 10px;
    animation: scaleBackground 1.5s forwards;
    object-fit: cover;
}

.header-title {
    font-size: 36px;
    margin-top: 18px;
}

.about-icon {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-left: 140px;
}

.header-about {
    display: flex;
    margin-top: 18px;
}

.about-name {
    font-size: 18px;
}

.header-about-text {
    margin-left: 12%;
}

.about-text2, .about-text3 {
    margin-top: 16px;
}

@keyframes scaleBackground {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleBtn {
    100% {
        opacity: 1;
    }
}